a {
   text-decoration: none;
   color: black
}
body {
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
}

#nav {
   display: flex;
   justify-content: space-between;
   height: 60px;
   font-size: 15px;
}
ul {
   list-style-type: none;
   padding-inline-start: 0px;
}

.leftnav {
   display: flex;
   align-items: center;
   
}

.leftnav a {
   padding-left: 20px;
}

.rightnav {
   display:flex;
   align-items: center;
}

.rightnav a {
   padding:10px 10px 10px;
   margin-right: 20px;
   text-align: center;
}



#bodyImageSearch {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.sbar {
   width: 590px;
    height: 45px;
    border: .5px solid #fff;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

}
.searchbar {
   margin-left: 15px;
   border-style: none;
   width: 90%;
   height: 60%;
   display: flex;
   align-self: center;
}

.sbar a {
   display:flex;
   align-self: center;
   margin-right: 15px;
}

.image {
padding-top: 170px;

}

.searchButtons {
   margin-top: 15px;
}

.searchButtons [type="button"] {
   padding: 10px 15px;
   font-weight: bold;
   margin: 8px;
   border-style: none;
   color: #737373;
   background-color: #f2f2f2;

}

#botbar {
   display: block;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 85px;
    border-top: .5px solid #e6e6e6;
    background-color: #f2f2f2;
}

.deutschland {
   padding-left: 20px;
   display: block;
}

.bbar {
   display: flex;
   align-items: center;
   
}

.bbar a {
   padding-left: 20px;
}